.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
 flex: 1 1 auto;
  
}

.box {
    align-items: center;
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  text-justify: auto;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}