.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;

  display: flex;
 flex: 1 1 auto;
 justify-content: center;

 /*forgot to add, was trying to figure out on how to push it a bit down into the center*/
 align-items: center;
}


.box {
    align-items: center;
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  text-justify: auto;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}