.header  {
  
    align-content: center;
  font-family: monospace;
  background: papayawhip;
  flex-basis: auto;
     justify-content: space-between;
       display: flex;
 
    padding: 8px;
    align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  flex-direction: row;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 8px;
}

a {
 
  font-size: 22px;
  background: white;
  padding: 8px;
    flex-direction: row;
  /* this removes the line under the links */
  text-decoration: none;

}